<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookstore</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>


<div class="m-md-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/book-store-logo.png" width="30" height="30" alt="BookStore logo">
                BookStore
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
</div>

<body>
    <div class="row m-1 p-1">
        <div id="types" class="col-2">
            <vc:types></vc:types>
        </div>
        <div class="col-10">
            <main>
                @RenderBody()
            </main>
        </div>
    </div>

</body>

